Repository zonggen/charts, changes with the labels that .github/labeler.yml gives for each.
All labels: allow/chart-changes, partner, redhat, community

.github/labeler.yml:

allow/chart-changes:
  - any: ['charts/partners/**/**/*', '!charts/partners/**/**/OWNERS']
  - any: ['charts/redhat/**/**/*', '!charts/redhat/**/**/OWNERS']
  - any: ['charts/community/**/**/*', '!charts/community/**/**/OWNERS']
partner:
  - any: ['charts/partners/**/**/*', '!charts/partners/**/**/OWNERS']
redhat:
  - any: ['charts/redhat/**/**/*', '!charts/redhat/**/**/OWNERS']
community:
  - any: ['charts/community/**/**/*', '!charts/community/**/**/OWNERS']

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

community and redhat flow
  .github/workflows/build.yml
Labels: none

owner
  charts/partners/hashicorp/vault/OWNERS
Labels: none

update triage
  .github/workflows/build.yml
Labels: none

update sanitycheck script
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: none

add python setup
  .github/workflows/build.yml
Labels: none

edit OWNERS file for test
  charts/partners/hashicorp/vault/OWNERS
Labels: none

redhat and community flow
  .github/workflows/build.yml
Labels: none

move from partner to redhat
  charts/redhat/.keep
  charts/redhat/hashicorp/vault/OWNERS
Labels: allow/chart-changes, redhat

redhat->community
  charts/community/hashicorp/vault/OWNERS
Labels: none

.keep
  charts/community/.keep
Labels: allow/chart-changes, community

community test
  .github/workflows/build.yml
Labels: none

community test
  .github/workflows/build.yml
Labels: none

community test
  .github/workflows/build.yml
Labels: none

community test
  .github/workflows/build.yml
Labels: none

add community (red hat)
  .github/workflows/build.yml
Labels: none

add community
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
  charts/redhat/hashicorp/vault/OWNERS
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

test redhat failure
  .github/workflows/build.yml
Labels: none

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none

add --insecure-skip-tls-verify for testing
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

add vault owners file for testing
  charts/redhat/hashicorp/vault/OWNERS
Labels: none

disable auto merge for testing
  .github/workflows/build.yml
Labels: none

debug report content and guard condition
  .github/workflows/build.yml
Labels: none

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none
