Repository zonggen/charts, changes with the labels that .github/labeler.yml gives for each.
All labels: allow/chart-changes, partner, redhat, community

.github/labeler.yml:

allow/chart-changes:
  - any: ['charts/partners/**/**/*', '!charts/partners/**/**/OWNERS']
  - any: ['charts/redhat/**/**/*', '!charts/redhat/**/**/OWNERS']
  - any: ['charts/community/**/**/*', '!charts/community/**/**/OWNERS']
partner:
  - any: ['charts/partners/**/**/*', '!charts/partners/**/**/OWNERS']
redhat:
  - any: ['charts/redhat/**/**/*', '!charts/redhat/**/**/OWNERS']
community:
  - any: ['charts/community/**/**/*', '!charts/community/**/**/OWNERS']

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none

debug report content and guard condition
  .github/workflows/build.yml
Labels: none

disable auto merge for testing
  .github/workflows/build.yml
Labels: none

add --insecure-skip-tls-verify for testing
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

add vault owners file for testing
  charts/redhat/hashicorp/vault/OWNERS
Labels: none

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

debug report content and guard condition
  .github/workflows/build.yml
Labels: none

disable auto merge for testing
  .github/workflows/build.yml
Labels: none

Revert "chart: add vault chart for testing (#15)"
  .github/workflows/build.yml
Labels: none

add vault owners file for testing
  charts/redhat/hashicorp/vault/OWNERS
Labels: none

add --insecure-skip-tls-verify for testing
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

debug report content and guard condition
  .github/workflows/build.yml
Labels: none

test
  .github/workflows/build.yml
Labels: none

workflow: add a auto-merge job for manual merging by maintainers
  .github/workflows/build.yml
Labels: none

workflows: add redhat and community workflow logic
  .github/workflows/build.yml
  charts/community/.keep
  charts/redhat/.keep
  docs/workflow-build.md
  scripts/src/chartprreview/chartprreview.py
  scripts/src/chartprreview/verify-report.sh
  scripts/src/chartrepomanager/chartrepomanager.py
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: allow/chart-changes, redhat, community

test
  .github/workflows/build.yml
  charts/redhat/hashicorp/vault/OWNERS
  scripts/src/chartprreview/chartprreview.py
Labels: none

test
  .github/workflows/build.yml
Labels: none

workflows: add redhat and community workflow logic
  .github/workflows/build.yml
  charts/community/.keep
  charts/redhat/.keep
  docs/workflow-build.md
  scripts/src/chartprreview/chartprreview.py
  scripts/src/chartprreview/verify-report.sh
  scripts/src/chartrepomanager/chartrepomanager.py
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: allow/chart-changes, redhat, community

test
  .github/workflows/build.yml
  charts/redhat/hashicorp/vault/OWNERS
  scripts/src/chartprreview/chartprreview.py
Labels: none

workflows: add redhat and community workflow logic
  .github/workflows/build.yml
  charts/community/.keep
  charts/redhat/.keep
  docs/workflow-build.md
  scripts/src/chartprreview/chartprreview.py
  scripts/src/chartprreview/verify-report.sh
  scripts/src/chartrepomanager/chartrepomanager.py
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: allow/chart-changes, redhat, community

Add IBM chart to test report only
  charts/partners/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
  charts/redhat/ibm/ibm-object-storage-plugin/OWNERS
Labels: allow/chart-changes, partner

Test report only for redhat submissiion
  charts/redhat/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
Labels: allow/chart-changes, redhat

workflows: add redhat and community workflow logic
  .github/workflows/build.yml
  charts/community/.keep
  charts/redhat/.keep
  docs/workflow-build.md
  scripts/src/chartprreview/chartprreview.py
  scripts/src/chartprreview/verify-report.sh
  scripts/src/chartrepomanager/chartrepomanager.py
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: allow/chart-changes, redhat, community

workflows: add redhat and community workflow logic
  scripts/src/chartrepomanager/chartrepomanager.py
Labels: none

Test report only for redhat submissiion (#21)
  charts/redhat/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
Labels: allow/chart-changes, redhat

Add IBM chart to test report only
  charts/partners/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
  charts/redhat/ibm/ibm-object-storage-plugin/OWNERS
Labels: allow/chart-changes, partner

charts: redhat submission with updated annotation
  charts/redhat/ibm/ibm-object-storage-plugin/2.1.3/report.yaml
Labels: allow/chart-changes, redhat

vault OWNERS file for testing
  .github/workflows/build.yml
  charts/partners/hashicorp/vault/OWNERS
  scripts/src/sanitycheckpr/sanitycheckpr.py
Labels: none

IBM OWNERS file for report only testing
  charts/partners/ibm/ibm-object-storage-plugin/OWNERS
Labels: none

charts: report only testing for partners
  charts/partners/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
Labels: allow/chart-changes, partner

charts: report only testing for partners (#24)
  charts/partners/ibm/ibm-object-storage-plugin/2.1.2/report.yaml
Labels: allow/chart-changes, partner

charts: report only with failed cases
  charts/partners/ibm/ibm-object-storage-plugin/2.1.3/report.yaml
Labels: allow/chart-changes, partner

charts: report only with failed cases (#26)
  charts/partners/ibm/ibm-object-storage-plugin/2.1.3/report.yaml
Labels: allow/chart-changes, partner

refactor util helpers and add chart tgz case
  tests/functional/features/chart_tar_without_report.feature
  tests/functional/test_chart_tgz_without_report.py
  tests/functional/test_report_only_no_errors.py
  tests/functional/utils.py
Labels: none

tests: chart src with report submission
  tests/data/report.yaml
  tests/functional/features/report_and_chart_src.feature
  tests/functional/test_chart_src_with_report.py
  tests/functional/test_chart_tgz_without_report.py
Labels: none
